@charset "UTF-8";

:root{
    --color01: #0F1323;
	--color02: #152357;
	--color03: #8B9CD9;
	--color04: #C2CFFF;
	--color05: #D6DFFF;

}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--color05);
}
main{
    max-width: 580px;
}
section{
    min-width: 290px;
    height: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    box-shadow: 0px 0px 25px 10px #0f132354;

}
#image{
    position: absolute;
    width: 290px;
    height: 240px;
    background: black url(../images/login-bg.jpg) center bottom  no-repeat fixed;
    background-size: cover;
    border-radius: 10px 10px 0 0px;
}
.login{
    color: var(--color05);
    background-color: var(--color03);
    height: 240px;
    position: relative;
    top: 100%;
    transform: translate(0, -100%);
    border-radius: 0 0 10px 10px;
}
h1, p{
    max-width: 240px;
    text-align: center;
    padding-top: 10px;
    margin: auto;
}
.login input{
    margin: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    border: none;
}
.login input:focus{
    background-color: var(--color05);
    color: var(--color04) ;
}
#send:hover, #cancel:hover{
    background-color: var(--color02);
    color: white;
}
fieldset{
    padding-top: 2px;
    border: none;
    text-align: center;
}
::-webkit-input-placeholder{
    font-size: 0.9em;
    text-align: center;
    color: white;
}